#top-navbar{
    background-color: white !important;
}

.fa-arrow-alt-circle-right{
    position: relative;
    top: 1.4px;
}

#album-section{
    margin-top: 100px !important;
}

#toast-button{
    text-decoration: none;

}


#package-section{
    margin-top: 150px;
}

.fa-check-circle{
    color: #0B5ED7;
}

.highlight-card{
    color: white;
}

#team-member-headline{
    margin-top: 150px;
    margin-bottom: 50px;
}

#faq-heading{
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    height: 300px;
    margin-top: 150px;
}