body{
    background-color: #F8F9FA !important;
}

.fa-arrow-alt-circle-right{
    position: relative;
    top: 1.4px;
}

#album-section{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}